Repository r-lib/lintr, pull requests merged in 2023-09, with the labels that each got.

#2084 scalar_in_linter() for x %in% 1
  DESCRIPTION
  NAMESPACE
  NEWS.md
  R/scalar_in_linter.R
  inst/lintr/linters.csv
  man/best_practices_linters.Rd
  man/consistency_linters.Rd
  man/efficiency_linters.Rd
  man/linters.Rd
  man/readability_linters.Rd
  man/scalar_in_linter.Rd
  tests/testthat/test-scalar_in_linter.R
Labels: google-linters

#2120 Add dependabot workflow
  .github/dependabot.yaml
Labels: internals, automation :robot:

#2018 Add pipe consistency linter
  DESCRIPTION
  NAMESPACE
  R/pipe_consistency_linter.R
  inst/lintr/linters.csv
  man/configurable_linters.Rd
  man/linters.Rd
  man/pipe_consistency_linter.Rd
  man/readability_linters.Rd
  man/style_linters.Rd
  tests/testthat/test-pipe-consistency-linter.R
Labels: new-linter

#1899 Document alternatives to nested `ifelse()`
  R/nested_ifelse_linter.R
  man/nested_ifelse_linter.Rd
Labels: documentation
